# basics
- operators
- variables
- datatypes
- keywords
- io

In [5]:
23456*20

469120

In [9]:
10//3

3

In [2]:
157**5

95388992557

#assignment operator

In [2]:
x=101 # direct assignment
y=2.1509 #update assignment
z=False
a= None

In [20]:
x= 5
x +=10
x -=3
name = "muskan bajpai"
name += "ðŸ˜Š"

# conditional operator
<
>
<=
>=
==
!=

In [11]:
x >2

True

In [3]:
a=10
b=12
a<b
a>b
a>=12
a!=12
a<b>10

True

#logical operator
and 
or 
not

In [23]:
a= 10
b= 20
a<b or b < 30

True

In [4]:
print(a<b and b<30)
print(a<b or b<30)
print(not a>b )

True
True
True

In [30]:
fruits =['apple','banana','cherry']#identical operator
print('apple'in fruits)
print('orange'in fruits)
print('orange' not in fruits)

True
False
True

In [32]:
x= 20
y = x
print(x,y)
print(x == y)
print(x is y)# refrence equality it checks if it is the memory is same or not

20 20
True
True

In [33]:
x =[1,2,3]
y= x #refernce copy
z= x.copy() # value copy
print(x is y )
print(x is z)
print(x ==z )
print(x == y )

True
False
True
True

#datatypes
- integer
- float
- boolean
- None
- string  'str'
- list 'list'
- tuple 'tuple'
- set 
- dictionaqry 'dict'


-

In [1]:
coords= (10 ,20, 32)
name = {'alex','allen',"muskan"}
info= { 'name': 'muskan', 'age': 20, 'city': 'lucknow'}

In [5]:
del b #delete x from the memory