example ans= input (" prompt")

In [1]:
input("enter your name")

'enter your name'

In [5]:
name = input('enter your name ')
city= input('enter your city')
color= input('enter your color')
luckynum= input('enter your luckynum')

typecasting 
 from one datatype to another 
 str = int (variable )int

In [7]:
int(123)
float(10.20)

10.2

In [10]:
a= 10
b = "10"
c = "10,20"
d= 10.20
print(type(a))
print(type(b))
print(type(c))
print(type(d))

<class 'int'>
<class 'str'>
<class 'str'>
<class 'float'>

In [12]:
print(float(a))
print(str(a))
print(bool(a))

10.0
10
True

In [14]:
a= input('enter a number')
b= input('enter a number')
c = int(a)+int(b) #c=a+b print(c)
print(c)

1100

In [1]:
p = int(input('enter a number'))
r = float(input('enter the rate'))
t = int (input('enter the time'))
si = p*r*t/100
print(si)

750.0

answer : 12 - 3 = 9 it will tell how we want to display the answer

In [3]:
a = 12
b = 3
c = a-b
print("answer:", a,"-",b,"=",c)

answer: 12 - 3 = 9

In [9]:
p = int(input('enter a number'))
r = float(input('enter the rate'))
t = int (input('enter the time'))
si = p*r*t/100
print("Simple Interst calculation")
print("Principle=$", p)
print("Rate=", r,"%")
print("Time=",t ,"year")
print('_'*15)
print("simple interest=",si)

Simple Interst calculation
Principle=$ 10000
Rate= 3.0 %
Time= 5 year
_______________
simple interest= 1500.0

In [10]:
print(*'hello', sep='-')
fruits =['apple','banana','cherry']
print(*'fruits')

h-e-l-l-o
f r u i t s

string interpolation for formatted output

In [12]:
a = 12
b = 3
c = a-b
print("answer:", a,"-",b,"=",c)
print(f"answer : {a}-{b}={c}")

answer: 12 - 3 = 9
answer : 12-3=9

In [1]:
#area of triangle
b= int(input("enter the base of triangle"))
h= int(input("enter the height of a triangle"))
area= 1/2*b*h
print("area of the triangle")
print(f"base= {b} cm")
print(f"height= {h} cm")
print('_'*15)
print(f"area ={area} cm")

ValueError: invalid literal for int() with base 10: ''

In [3]:
#python program to swap the two variable
a= int(input("enter the first variable"))
b= int(input("enter the second variable"))
print(f"original values : a= {a} ,b = {b}")
temp= a
a = b
b = temp 
print (f" swapped variable : a ={a}, b= {b}")

original values : a= 45 ,b = 56
 swapped variable : a =56, b= 45

In [6]:
# python program to convert kilometer to miles
kilo=int(input("enter the value of kilometer"))
conversion_fac= 0.621371
miles= kilo * conversion_fac
print(f" {kilo} kilometer is equal to {miles} miles")

 1000 kilometer is equal to 621.371 miles

In [7]:
#python program celcius to fahrenheit
celcius =int(input("enter the temperature in celcius "))
fah = (celcius * 9/5 ) +32
print(f"{celcius} is equal to {fah} dregree fahrenheit")

32 is equal to 89.6 dregree fahrenheit

In [10]:
# python prog to check if the number the positive , negative , zero
a = int(input( "enter the number :"))
if a > 0:
    print(f"{a} is positive")
elif a == 0:
    print (f"{a} is zero")
else :
    print (f"{a} is negative")

0 is equal to zero

In [11]:
#python program to check wheter the number is even or odd
num=int(input("enter the number :"))
if num % 2==0:
    print(f"{num} is even number ")
else :
    print(f"{num} is odd number")

34 is even number

In [7]:
#python program to check the largest among the three
a = int(input("enter the first number"))
b = int(input("enter the second number"))
c = int(input("enter the third number"))
if (a >= b and  a >= c):
    print (f"{a} is the largest number")
elif (b >= a and b >= c):
    print(f"{b} is the largest number")
else:
    print(f"{c} is the largest number")

3400 is the largest number

In [1]:
#python program to check wheter the number is prime or not
num = int(input("enter the value"))
if num == 1:
    print(f"{num} is not the prime number")
elif num > 1:
    for i in range(2,num)
    if num % i ==0 :

SyntaxError: expected ':' (3913739364.py, line 6)

In [2]:
# round function use d with expression 
print(round (10/3))
print(round(10/3,1))
print(round(10/3,2))
print(round(10/3,3))

3
3.3
3.33
3.333

In [7]:
#text alignment 
n1 = "The final empire"
a1 = "Brandson Sanderson"
p1 = 499
n2 = "the art of war"
a2 = "Sun Tzu"
p2 = 299
n3 = "Stromlight Archives : the way of king"
a3 = "Brandson Sanderson"
p3 = 345
print(f'{n1:<40} |{a1:^20} | {p1}')
print(f'{n2:<40} |{a2:^20} | {p2}')
print(f'{n3:<40} |{a3:^20} | {p3}')

The final empire                         | Brandson Sanderson  | 499
the art of war                           |      Sun Tzu        | 299
Stromlight Archives : the way of king    | Brandson Sanderson  | 345

In [10]:
a1 =input("enter your favourite country")
b1= input("enter the famous thing about this country")
a2= input ("enter your your favorite season")
b2 = input('enter the city which is famous for this season')
print(f'{a1:>20} | {b1}')
print(f'{a2:>20} | {b2}')

             america | food
               rainy | shillong