example ans= input (" prompt")

In [1]:
input("enter your name")

'enter your name'

In [5]:
name = input('enter your name ')
city= input('enter your city')
color= input('enter your color')
luckynum= input('enter your luckynum')

typecasting 
 from one datatype to another 
 str = int (variable )int

In [7]:
int(123)
float(10.20)

10.2

In [10]:
a= 10
b = "10"
c = "10,20"
d= 10.20
print(type(a))
print(type(b))
print(type(c))
print(type(d))

<class 'int'>
<class 'str'>
<class 'str'>
<class 'float'>

In [12]:
print(float(a))
print(str(a))
print(bool(a))

10.0
10
True

In [14]:
a= input('enter a number')
b= input('enter a number')
c = int(a)+int(b) #c=a+b print(c)
print(c)

1100

In [1]:
p = int(input('enter a number'))
r = float(input('enter the rate'))
t = int (input('enter the time'))
si = p*r*t/100
print(si)

750.0

answer : 12 - 3 = 9 it will tell how we want to display the answer

In [3]:
a = 12
b = 3
c = a-b
print("answer:", a,"-",b,"=",c)

answer: 12 - 3 = 9

In [9]:
p = int(input('enter a number'))
r = float(input('enter the rate'))
t = int (input('enter the time'))
si = p*r*t/100
print("Simple Interst calculation")
print("Principle=$", p)
print("Rate=", r,"%")
print("Time=",t ,"year")
print('_'*15)
print("simple interest=",si)

Simple Interst calculation
Principle=$ 10000
Rate= 3.0 %
Time= 5 year
_______________
simple interest= 1500.0

In [10]:
print(*'hello', sep='-')
fruits =['apple','banana','cherry']
print(*'fruits')

h-e-l-l-o
f r u i t s

string interpolation for formatted output

In [12]:
a = 12
b = 3
c = a-b
print("answer:", a,"-",b,"=",c)
print(f"answer : {a}-{b}={c}")

answer: 12 - 3 = 9
answer : 12-3=9

In [14]:
#area of triangle
b= int(input("enter the base of triangle"))
h= int(input("enter the height of a triangle"))
area= 1/2 *b*h
print("area of the triangle")
print(f"base= {b} cm")
print(f"height= {h} cm")
print('_'*15)
print(f"area ={area} cm")

area of the triangle
base= 100 cm
height= 23 cm
_______________
area =1150.0 cm