In [2]:
a= [1,2,3]
print(a,type(a))
b= ['alice','bob','charlie']
print(b,type(b))
data= ['apple',50,'banana',50,'orange',70]
nested_list = [[1,2,3],[4,5,6],[8,5,7]]
print(data)
print(nested_list)
duplicated_list = [1]*10
duplicated_list = ['#']*20
print(duplicated_list)
print(list('vertex'))
print('welcome to listing'.split())

[1, 2, 3] <class 'list'>
['alice', 'bob', 'charlie'] <class 'list'>
['apple', 50, 'banana', 50, 'orange', 70]
[[1, 2, 3], [4, 5, 6], [8, 5, 7]]
['#', '#', '#', '#', '#', '#', '#', '#', '#', '#', '#', '#', '#', '#', '#', '#', '#', '#', '#', '#']
['v', 'e', 'r', 't', 'e', 'x']
['welcome', 'to', 'listing']

In [25]:
n = [11,12,13,14,15,16,17,18,19,20]
print('first five =',n[:5])
print('last five =',n[-5:])
print('first element =',n[0])
print('last element =',n[-1])
print('reverse list =',n[::-1])
print('all odd indexes =',n[1::2])
print('all even indexes =',n[::2])
print('reverse first five =',n[4::-1])
print('reverse first five =',n[-5:1])

first five = [11, 12, 13, 14, 15]
last five = [16, 17, 18, 19, 20]
first element = 11
last element = 20
reverse list = [20, 19, 18, 17, 16, 15, 14, 13, 12, 11]
all odd indexes = [12, 14, 16, 18, 20]
all even indexes = [11, 13, 15, 17, 19]
reverse first five = [15, 14, 13, 12, 11]
reverse first five = []

In [26]:
#list is mutable
n [5]=100
print(n)
n[0] = 200
print(n)

[11, 12, 13, 14, 15, 100, 17, 18, 19, 20]
[200, 12, 13, 14, 15, 100, 17, 18, 19, 20]

In [27]:
movies = []
print (type(movies))
print(len(movies))
movies.append('star wars')
movies.append('jimanji')
movies.append('harry potter')
movies.append('the core')
movies.append('star bullet train')
print(movies)
print(len(movies))

<class 'list'>
0
['star wars', 'jimanji', 'harry potter', 'the core', 'star bullet train']
5

In [1]:
num = [1,2,3,6,7,8,9]
num.insert(3,4)
print(num)
num.insert(4,5)
print(num)

[1, 2, 3, 4, 6, 7, 8, 9]
[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [5]:
#adding a list in another list
l1 = [1,2,3]
l2 = [4,5,6]
l3 = [7,8,9]
l1.extend(l2)
print(l1)
l2.extend(l3)
print(l2)
l3.extend([1,2,3,4,5])
print(l3)
l1.clear()
print(l1)
l2.pop()#remove last element
print(l2)

[1, 2, 3, 4, 5, 6]
[4, 5, 6, 7, 8, 9]
[7, 8, 9, 1, 2, 3, 4, 5]
[]
[4, 5, 6, 7, 8]

In [2]:
num.remove (2)#to remove the value and for indexing we use pop
print(num)

[1, 3, 4, 5, 6, 7, 8, 9]

In [6]:
y = [1,2,3,4,5]
y.reverse()
print(y)

[5, 4, 3, 2, 1]

In [8]:
names = ['apple','jackfruit','fig','cherry']
names.sort()
print(names)
names.sort(reverse = True)
print(names)
fig_index = names.index('fig')
print(fig_index)

['apple', 'cherry', 'fig', 'jackfruit']
['jackfruit', 'fig', 'cherry', 'apple']
1

In [10]:
x = [1,2,3]
y = x
z= x.copy()
x.append(4)
y.append(5)
z.append(6)
print(x)
print(y)
print(z)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]
[1, 2, 3, 6]

In [11]:
x = [1,2,3,4,5]
x2 = []
for i in x :
    s = i**2
    x2.append(s)
print(x2)

[1, 4, 9, 16, 25]

In [15]:
#syntax comprehension
# [operation loop (condition)]
a = [1,2,3,4,5,6,7,8,9,10]
x2 =[i - 10 for i in  a]
print(x2)

[-9, -8, -7, -6, -5, -4, -3, -2, -1, 0]

In [17]:
x = [15,3,12,11,6,7] 
xodd = [i-5 for i in x if i%2 != 0]
print(xodd)

[10, -2, 6, 2]

In [19]:
crap_list = ['A',1,2,3,'B',5,'C',33,54,'D']
clean_list = [i for i in crap_list if isinstance(i,str)]
print(crap_list)
print(clean_list)

['A', 1, 2, 3, 'B', 5, 'C', 33, 54, 'D']
['A', 'B', 'C', 'D']

In [21]:
#make all the input to a list
nums = [int(n) for n in input () .split() ]
print(nums)

['34']

#TUPLE

In [23]:
a = (1,2,3,4,5)
print(type(a))
b = (1,)
d = tuple([1,2,3,4,5])
print(d)
print(a[0])
print(a[1:])
print(a[:3])
print(a[3::-1])

<class 'tuple'>
(1, 2, 3, 4, 5)
1
(2, 3, 4, 5)
(1, 2, 3)
(4, 3, 2, 1)