loops in python
- for loops -> step based loop
- while loops -> conditions based loops
*iterable is any object that has childrn/item to iterabte over *
- string
- list 
- tuple

In [3]:
for i in range(8):
    print(i)

0
1
2
3
4
5
6
7

In [5]:
for i in range(10,20):
    print(i)

10
11
12
13
14
15
16
17
18
19

In [9]:
for i in range(1,12,2):
    print(i , end =' ,')

1 ,3 ,5 ,7 ,9 ,11 ,

In [11]:
for i in range(5,-6,-1):
    print(i , end =' ,')

5 ,4 ,3 ,2 ,1 ,0 ,-1 ,-2 ,-3 ,-4 ,-5 ,

In [13]:
word = 'digipodium'
for char in word :
    print("=>" ,char)

=> d
=> i
=> g
=> i
=> p
=> o
=> d
=> i
=> u
=> m

In [16]:
data = " p@_y@!t%h*on"
for i in data :
    if i. isalpha():
        print(i)

p
y
t
h
o
n

In [2]:
nums = [-5 ,-4 ,-3,-2,-1,0,1,2,3,4,5]
for num in nums:
    if num % 2 == 0:
        print (num)

-4
-2
0
2
4

In [23]:
fruits = ['apple','banana', 'cherry','dragonfriut','eggplant','fig','guava','honeydew','imli','kiwi']
for fruit in fruits:
    print(fruit,len(fruit))

apple 5
banana 6
cherry 6
dragonfriut 11
eggplant 8
fig 3
guava 5
honeydew 8
imli 4
kiwi 4

In [25]:
for i in fruits:
    if i== 'fig':
        break
    print(i)
print('loop completed')

apple
banana
cherry
dragonfriut
eggplant
loop completed

In [1]:
nums = [10,30,65,29,-90,78]
sum =0 
for i in nums :
    if i<0:
        continue
    sum +=i
print(sum)

212

In [4]:
n = int(input("enter the number"))
sum = 0
i = 1
while i <=n:
    sum = sum+i
    i= i+1
print("the sum is" , sum)

the sum is 210

In [8]:
for i in range (1,6):
    s= i*i
    print(i)

1
2
3
4
5

In [2]:
num = int(input("enter the number"))
total = 0
while num != 0:
    total +=num
    num =int(input("enter the number"))
print("the sum is", total)

the sum is 348

In [4]:
fruits =['apple','banana','cherry','dragonfruit','eggplant']
for i ,v in enumerate (fruits):
    print (i,v)

0 apple
1 banana
2 cherry
3 dragonfruit
4 eggplant

In [9]:
fruits =['apple','banana','cherry','dragonfruit','eggplant']
for i ,v in enumerate (fruits):
    if i %2 ==0:
        print (i,v)

0 apple
2 cherry
4 eggplant

In [12]:
x= [1,2,3,4,5]
y =[6,7,8,9,10]
for i,j in zip(x,y):
    sum =i+j
    print(f'{i} + {j}= {i+j}')

1 + 6= 7
2 + 7= 9
3 + 8= 11
4 + 9= 13
5 + 10= 15

In [13]:
x= [1,2,3,4,5]
y =[6,7,8,9,10]
z =[12,13,14,15,16]
for i,j,k in zip (x,y,z):
    print(f'{i}+{j}+{k} = {i+j+k}')

1+6+12 = 19
2+7+13 = 22
3+8+14 = 25
4+9+15 = 28
5+10+16 = 31

In [20]:
name = ['apple','banana','cherry']
price = [100,200,300]
qty = [3,2,5]
total = 0
for n, p,q in zip (name,price,qty):
    print(f'{n:10}|{p:^5}|{q:^3}|{p*q:>5}')
    total += p*q
print('_'*30)
print(f"total {total:21}")

apple     | 100 | 3 |  300
banana    | 200 | 2 |  400
cherry    | 300 | 5 | 1500
______________________________
total                  2200

In [21]:
for i in range (5):
    print(i)
    if i ==13:
        break
else:
    print("loop completed successfully")

0
1
2
3
4
loop completed successfully

In [23]:
n=int(input("enter the stop value"))
for i in range (1,11):
    if i == n:
        print("loop terminated")
        break
    print(i)
else:
    print("well done")

1
2
3
4
loop terminated

In [33]:
#prime number
n = int(input("enter the number"))
for i in range (2,n):
    print(f'=> {n} % {i} == {n%i==0}')
    if n%i==0:
        print("not prime number")
        break
else:
    print(" prime number")

=> 11 % 2 == False
=> 11 % 3 == False
=> 11 % 4 == False
=> 11 % 5 == False
=> 11 % 6 == False
=> 11 % 7 == False
=> 11 % 8 == False
=> 11 % 9 == False
=> 11 % 10 == False
 prime number

In [34]:
i= 200
while i> 0:
    print(i)
    i -=25

200
175
150
125
100
75
50
25