sets
- create
- method

In [1]:
x= set()
print(x)
y = {1,2,3,4,1,2,3,4}
print(y)
fruits= {'apple','banana','cherry'}
print(fruits)
data = {'apple',23.2,205,'banana'}
print(data)
a = set([1,2,3,4,5,6,7,8,9,10])
b = set('harry potter')
print(a)
print(b)

set()
{1, 2, 3, 4}
{'apple', 'cherry', 'banana'}
{'apple', 'banana', 205, 23.2}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
{'y', 'o', 'a', 'r', 't', ' ', 'e', 'h', 'p'}

In [6]:
a = set()
a.add("the final empire")
a.add("the hero of ages")
a.add("the money heist")
print(a)
a.update(['appleseed','applepie','applecidar'])
print(a)
a.update('appleseed')
print(a)
a.discard('appleseed')
a.discard('applepie')
print(a)

{'the final empire', 'the hero of ages', 'the money heist'}
{'the money heist', 'appleseed', 'the hero of ages', 'applecidar', 'the final empire', 'applepie'}
{'l', 's', 'the money heist', 'd', 'appleseed', 'a', 'the hero of ages', 'e', 'applecidar', 'the final empire', 'applepie', 'p'}
{'l', 's', 'the money heist', 'd', 'a', 'the hero of ages', 'e', 'applecidar', 'the final empire', 'p'}

In [7]:
a = {1,2,3}
b = {3,4,5}
c = {6,7,8}
ab = a.union(b)
print(ab)
print(a.union(b,c))
print(a|b|c)

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5, 6, 7, 8}
{1, 2, 3, 4, 5, 6, 7, 8}

In [8]:
print(a.intersection(b))
print(a & b)
print(a & c)
print(a & b  & c)

{3}
{3}
set()
set()

In [10]:
print(a.difference (b))
print(b.difference (a))
print(a - b)

{1, 2}
{4, 5}
{1, 2}

In [12]:
print(a.symmetric_difference(b))
print(a^b) #it will print the element of which are unique

{1, 2, 4, 5}
{1, 2, 4, 5}

In [1]:
data = ['Alex', True,False,29,'New York',"photographer"]
datadict = {
    'name' : 'Alex',
    'isMarried' : True,
    "haschildren" : False ,
    'age' : 29,
    'city' : 'New York',
    'profession' : 'Photographer'
}

In [2]:
datadict

{'name': 'Alex',
 'isMarried': True,
 'haschildren': False,
 'age': 29,
 'city': 'New York',
 'profession': 'Photographer'}

In [3]:
movies = {}

expenditure = dict(
    food = 500,
    rent = 1500,
    insurence = 200,

)
print(datadict)
print(expenditure)

{'name': 'Alex', 'isMarried': True, 'haschildren': False, 'age': 29, 'city': 'New York', 'profession': 'Photographer'}
{'food': 500, 'rent': 1500, 'insurence': 200}

-creating
- accessing
- add or update 
- remove
- traverse

In [5]:
print(datadict['name'])
print(datadict['isMarried'])
print(datadict['city'])
#  print(datadict['state'])# key error

Alex
True
New York

In [7]:
print(datadict.get('city'))
print(datadict.get('City')) #not in dictionary
print(datadict.get('age',100))
print(datadict.get('AGE',100))# AGE is not in the dictionary

New York
None
29
100

In [8]:
movies['deadpool and wolverine'] = ' shawn levy'
movies['bahubali'] = 'ss rajmouli'
movies ['inception'] = 'chistopher nolan'
print(movies)

{'deadpool and wolverine': ' shawn levy', 'bahubali': 'ss rajmouli', 'inception': 'chistopher nolan'}

In [12]:
movies.update(
    {
        'the dark knight': 'christopher nolan',
        'The Prestige' : 'christopher nolan',
        'the matrix' : 'wachowki brothers'

    }
)
print(movies)
print(len(movies))
movies.pop('bahubali')
#list - remove, set - discard,dictionary- pop

{'deadpool and wolverine': ' shawn levy', 'bahubali': 'ss rajmouli', 'inception': 'chistopher nolan', 'the dark knight': 'christopher nolan', 'The Prestige': 'christopher nolan', 'the matrix': 'wachowki brothers'}
6

'ss rajmouli'

In [10]:
datadict['name'] = 'Alexender'
print(datadict)

{'name': 'Alexender', 'isMarried': True, 'haschildren': False, 'age': 29, 'city': 'New York', 'profession': 'Photographer'}

In [13]:
for item in datadict:
    print(item)

name
isMarried
haschildren
age
city
profession

In [14]:
for item in datadict:
    print(datadict[item])

Alexender
True
False
29
New York
Photographer

In [17]:
for k,v in datadict.items():
    print(k,v)

name Alexender
isMarried True
haschildren False
age 29
city New York
profession Photographer

In [19]:
movies.keys()
#movies.values()

dict_keys(['deadpool and wolverine', 'inception', 'the dark knight', 'The Prestige', 'the matrix'])

In [20]:
from pprint import pp

In [21]:
pp(report)

NameError: name 'report' is not defined

In [22]:
rainfall_data = {
    'year': [2019,2020,2021,2022,2023],
    'rainfall' : [2023,2004,2009,2001]
}
print(rainfall_data)

{'year': [2019, 2020, 2021, 2022, 2023], 'rainfall': [2023, 2004, 2009, 2001]}