#strings
- creation
- indexing and slicing
- methods

In [1]:
a = 'apple'
print (type(a))

<class 'str'>

In [3]:
# double quoted
b= "apple"
print (type(b))

<class 'str'>

In [4]:
#triple quoted
c = '''this is a string and 
it's a triple quote'''
print(type(c))

<class 'str'>

In [5]:
d = str(12345)
print(type(d))

<class 'str'>

types of strings
- byte b'hello'
- raw r 'hello'
- format f 'hello {a}'

In [6]:
print (b'this is a byte sting')
print (r'this is \n \n \n a byte string')#it removes the value of special character
print (f'{a} is a fruit')

b'this is a byte sting'
this is \n \n \n a byte string
apple is a fruit

# indexing
'''
    -5 -4 -3 -2 -1
    a  p  p  l  e 
    0  1  2  3  4 
                     '''

In [9]:

word = 'greek'
print (word[0])
print (word[1])
print (word[2])
print (word[-2])
print (word[-1])

g
r
e
e
k

In [13]:
msg = " journey before destination"
print (msg[8 : 15])
print (msg [ 16:30 ])

 before
destination

In [14]:
name = 'vijay deenanath chauhan'
f = 'vijaya'
l = 'deenanath'
n = 'chauhan'
print(f"msg[0:5]")
print (f"msg[6:-8]")
print (f"msg[-7:]")

msg[0:5]
msg[6:-8]
msg[-7:]

In [16]:
#reverse 
print(name[::1])

#step
print(name[::2])
print(name[1::2])

vijay deenanath chauhan
vjydeaahcahn
ia ennt hua

In [17]:
x= "$5599.25 only"
print(x[1:-4])

5599.25

# string method
- formatting
    -upper()
    - lower ()
    - capitalize()
    - title()
    - swapcase()
    - casefold()
    - centre()
    - ljust()
    - rjust()

In [23]:
msg = 'Life is Beautiful'
print(msg.upper())
print(msg.lower())
print(msg.capitalize())
print(msg.casefold())
print(msg.title())
print(msg.swapcase())
print(msg.center(50))
print(msg.ljust(50))
print(msg.rjust(50))
print(msg.rjust(50,"*"))
print(msg.ljust(50,"*"))
print(msg.center(50,"*"))

LIFE IS BEAUTIFUL
life is beautiful
Life is beautiful
life is beautiful
Life Is Beautiful
lIFE IS bEAUTIFUL
                Life is Beautiful
Life is Beautiful
                                 Life is Beautiful
*********************************Life is Beautiful
Life is Beautiful*********************************
****************Life is Beautiful*****************

validation method
- isalpha()
-isalnum()
- isnumeric()
- isdigit()
- isspace()
- isascii()
- isprintable()
- islower()
- isupper()

- utility functions
    - split()
    - find ()
    - rfind()
    - index()
    - rindex()
    - count()
    - split()

In [1]:
sen =' all that glitter is not gold'
sen.split()

['all', 'that', 'glitter', 'is', 'not', 'gold']

In [2]:
words = sen.split()
for word in words:
    print(words)

['all', 'that', 'glitter', 'is', 'not', 'gold']
['all', 'that', 'glitter', 'is', 'not', 'gold']
['all', 'that', 'glitter', 'is', 'not', 'gold']
['all', 'that', 'glitter', 'is', 'not', 'gold']
['all', 'that', 'glitter', 'is', 'not', 'gold']
['all', 'that', 'glitter', 'is', 'not', 'gold']

In [5]:
quote = " life before death , strenth before weakness, journey before destination"
quote.split(" , ")

[' life before death', 'strenth before weakness, journey before destination']

In [6]:
poem = """johny johny , yes papa
eating sugar no papa telling a lie no papa 
open your mouth ha ha ha """
poem.splitlines()

['johny johny , yes papa',
 'eating sugar no papa telling a lie no papa ',
 'open your mouth ha ha ha ']

In [8]:
addr= ['c:' 'users', 'muskan', 'download', 'file.text']
print(addr)
full_addr = "/".join(addr)
print(full_addr)

['c:users', 'muskan', 'download', 'file.text']
c:users/muskan/download/file.text

In [15]:
#wap to count all even sized words in a string
user = input("enter any quote")
words= user.split()
total = 0
for word in words:
    size = len(words)
    if size  % 2 == 0:
        total+= 1
print(total)

0

In [19]:
a = "this is my notebook"
print(a.find('is'))
print(a.find('mess'))
print(a.find('are'))
print(a.index('is'))
print(a.index('is',3))

2
-1
-1
2
5

In [21]:

b= a.replace('is', 'was')
print(b)
c= b.replace("message", "letter").replace('was','is')
print(c)
d= c.replace('k','t',2)#replace first two occurence
print(d)

thwas was my notebook
this is my notebook
this is my noteboot

In [23]:
data = 'he!!!llo'
data.replace ('!','')

'hello'

In [33]:
a= 'this is my notebook'
a.replace('o','')

'this is my ntebk'

In [34]:
msg = 'one two three one two'
print(msg.count('o'))
print(msg.count('one'))
print(msg.count('ee'))
print(msg.count('four'))

4
2
1
0

In [35]:
name = '  muskan '
print(len(name), name)
clean_name= name.strip()
print(len(clean_name),clean_name)

9   muskan
6 muskan

In [45]:
names = [
    'john',
    'alex',
    'jane',
    'alexa',
    'jacob',
]
for n in names:
    print(len(n),n)
    clean_n = n.strip()
print(len(clean_n),clean_n)

4 john
4 alex
4 jane
5 alexa
5 jacob
5 Jacob